body{
    display: flex;
    flex-direction: column;
    
    background: lightblue;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: 940px;
    max-width: 1440px;

border: 1px solid black;

}

    header{
        display: flex;
        align-items: center;
    }

        header p{
            width: 100%;
            text-transform: uppercase;
            text-align: center;
        }

    section{
        border: 1px solid red;
        display: flex;
        justify-content: center;
        padding: 0 5px;
    }

        main{
            border: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 15px;
            padding: 5px;
            width: 60%;
        }


            .text{
                border: none;
                border-radius: 10px;
                display: inline-block;
                height: 600px;
                width: 98%;
                padding: 10px;
                font-size: 18px;
                
            }

            .btnsMain{
                display: inline-block;
                justify-content: space-evenly;
                border: none;
                padding: 5px 0;
            }

                .btnsMain button{
                    border: 1px solid black;
                    border-radius: 20px;
                    font-size: 20px;
                    height: 40px;
                    width: 180px;
                    text-align: center;
                    background: lightblue;
                }


            
        aside{          
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 15px;
            padding: 5px;
            width: 35%;
        }
        
        .modifiedText{
            border: none;
            border-radius: 10px;
            display: flex;
            height: 600px;
            width: 98%;
            margin: 0 0;
            padding: 10px;
            font-size: 18px;
            
        }
        
        .btnCopy{
            margin-top: 5px;
            border: 1px solid black;
            border-radius: 20px;
            font-size: 22px;
            height: 40px;
            width: 180px;
            text-align: center;
            background: lightblue;
        }


    footer{
        border-top: 1px solid black;
        display: flex;
        flex-direction: column;
        margin-top: 30px;

    }

        footer p{
            margin: 10px auto;
        }

        .linkImg{
            width: 40px;
            margin: 0 5px;
        }