@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    background-color: #f3f5fc;
}

.logoAlura{
    display: flex;
    position: absolute;
    left: 40px;
    top: 40px;
}

.logoJS{
    display: flex;
    position: absolute;
    top: 200px;
    left: 30px;
    width: 60px;
    border-radius: 30px;
    opacity: 60%;

    transform: rotate(1080deg);
    transition: 3s;
}

.logoJS:hover{
    transform: scale(1.2);
    opacity: 100%;
    transition: 200ms;
}

.text{
    position: absolute;
    width: 680px;
    height: 530px;
    left: 240px;
    top: 168px;
    border-radius: 10px;
    border: none;
    background-color: #f3f5fc;
    

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 150%;
    color: #0A3871;  
}

.important{
    display: flex;
    position: absolute;
    top: 720px;
    left: 240px;


    
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #495057;
}

.btnEncrypt{
    display: flex;
    flex-direction: row;
    align-items: center;    
    position: absolute;
    border: none;
    border-radius: 20px;
    
    width: 330px;
    height: 60px;
    left: 240px;
    top: 750px;

    background-color: #0A3871;
    color: white;
    font-size: 19px;
    justify-content: center;
    
    
}

.btnDecrypt{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    border-radius: 20px;
    border-color: #0A3871;
    
    width: 330px;
    height: 60px;
    left: 600px;
    top: 750px;


    background-color: #f3f5fc;
    color: #0A3871;
    font-size: 19px;
    justify-content: center;
}

.modifiedText{
    position: absolute;
    padding: 10px;

    width: 400px;
    height: 790px;
    left: 1000px;
    top: 40px;

    color: #495057;
    border: none;
    border-radius: 20px;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.btnCopy{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    border-radius: 20px;
    border-color: #0A3871;
    
    width: 330px;
    height: 60px;
    left: 1045px;
    top: 750px;

    background-color: white;
    color: #0A3871;
    font-size: 19px;
    justify-content: center;
}

footer{
    display: flex;
    position: absolute;
    top: 880px;
    padding-top: 20px;
    justify-content: center;
    width: 1440px;
    border-top: 1px solid #0A3871;
    

    
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #495057;
}

footer p{
    padding: 12px 10px;
}

.linkImg{
    width: 40px;
    padding-right: 6px;
}