@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    background-color: #f3f5fc;
}

header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;

}


.text{
    position: absolute;
    width: 680px;
    height: 580px;
    left: 240px;
    top: 168px;
    border-radius: 10px;
    border: none;
    background-color: #f3f5fc;
    

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 150%;
    color: #0A3871;  
}

p{
    display: inline;
    position: relative;
    top: 770px;
    left: 240px;


    
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #495057;
}

.btnEncrypt{
    display: flex;
    flex-direction: row;
    align-items: center;    
    position: absolute;
    border: none;
    border-radius: 20px;
    
    width: 330px;
    height: 60px;
    left: 240px;
    top: 800px;

    background-color: #0A3871;
    color: white;
    font-size: 19px;
    justify-content: center;
    
    
}

.btnDecrypt{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    border-radius: 20px;
    border-color: #0A3871;
    
    width: 330px;
    height: 60px;
    left: 600px;
    top: 800px;


    background-color: #f3f5fc;
    color: #0A3871;
    font-size: 19px;
    justify-content: center;
}

.modifiedText{
    position: absolute;
    padding: 10px;

    width: 400px;
    height: 840px;
    left: 1000px;
    top: 40px;

    color: #495057;
    border: none;
    border-radius: 20px;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.btnCopy{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    border-radius: 20px;
    border-color: #0A3871;
    
    width: 330px;
    height: 60px;
    left: 1045px;
    top: 800px;

    background-color: white;
    color: #0A3871;
    font-size: 19px;
    justify-content: center;
}